.Tradesbox {
    border: ridge #262626;
    width: 33.14%;
    height: 100%;
    background-color:#262626;
    overflow: hidden;
}

.tradeInfo {
    font-size: 15px;
}

.InfoBar {
 height: 30px;
 background-color: #2C3540;
 padding-left: 10px;
}

.QuotePanel {
    height: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: 27px;
    justify-content: center;
    font-size: small;
    background-color: rgb(63, 63, 63);
    padding-left: 10px;
}

.blueText {
    color: #62CDFF;
    font-size: 15px;
}

.CompProfile {
    height:215px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: 25px;
    justify-content: center;
    font-size: small;
    background-color: rgb(94, 93, 93);
    padding-left: 10px;
    padding-top: 3px;
}

.propic {
    height: 50px;
    width: 50px;
}

.CompNews {
    /* height: 51.2%; */
    height: 100%;
    overflow-y: scroll;
    padding-left: 10px;
    padding-right: 10px;
}

.articleC {
    border-bottom: solid 1px palegreen;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
 
h4 {
    color: white;
    border-bottom: solid 1px #62CDFF;
    margin-bottom: 5px;
}