.sym {
    color: white;
    padding: 0;
    width: 100px;
    font-size: 12px;
}

span {
    width: 85px;
    font-size: 12px;
}

.price {
    color: lawngreen;
}

.positive {
    color: lawngreen; 
}
  
.negative {
    color: red; 
}