div {
    /* margin-right: 40px; */
    /* text-align: center; */
    

}


.sym {
    color: white;
    padding: 0;
    width: 100px;
    font-size: 12px;
    /* border: solid red; */

}

span {
    width: 85px;
    font-size: 12px;
}

.price {
    color: lawngreen;
}


.positive {
    color: lawngreen; /* Change text color to green for positive values */
}
  
.negative {
    color: red; /* Change text color to red for negative values */
}