.Market {
    color: white;
    width: 15%;
    display: inline-flex;
    padding-top: 7px;   
}

p {
    color: white;
}

.open {
    color: lawngreen;
    font-size: 15px;
}

.closed {
    color: red;
    font-size: 15px;
}