.Market {
    color: white;
    width: 15%;
    display: inline-flex;
    padding-top: 7px;   
}

p {
    color: white;
}

.open {
    color: lawngreen;
    font-size: 15px;
}

.closed {
    color: red;
    font-size: 15px;
}

@media (max-width: 1080px) {
    .Market {
        color: white;
        width: 75%;
        display: inline-flex;
        padding-top: 7px;   
        margin-left: 5px;
    }
    
}