.NewsBox {
    border: ridge #262626;
    width: 450px;
    height: 100%;
    background-color:#262626;
    overflow-y: scroll;
    padding-left: 10px;

}

p {
    color: white;
}

.newsimg {
    width: 250px;
    height: 150px;
}