.NewsBox {
    border: ridge #262626;
    width: 33.15%;
    height: 100%;
    background-color:#262626;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: white #262626;
    overflow-x: hidden
}

.MNews{
    height: 30px;
    background-color: #2C3540;
    padding-left: 10px;
}

.newsT {
    color: white;
}

p {
    color: white;
}

.newsimg {
    width: 100%;
}

.article {
    border-bottom: solid 1px palegreen;
    margin-bottom: 10px;
    padding-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

@media (max-width: 1080px) {
    .NewsBox {
       width: 100%;
    }
   }