.NewsBox {
    border: ridge #262626;
    width: 450px;
    height: 100%;
    background-color:#262626;
    overflow-y: scroll;
}

.MNews{
    height: 30px;
    background-color: #2C3540;
    padding-left: 10px;
    z-index: 2;
}

.newsT {
    color: white;
}

p {
    color: white;
}

.newsimg {
    width: 400px;
    height: 250px;
}

.article {
    border-bottom: solid 1px palegreen;
    margin-bottom: 10px;
    padding-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}